#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 16px;
}
button {
  all: unset;
}

.container {
  /* border: 2px solid red; */
  width: 100vh;
  height: 100vw;
  max-width: 800px;
  max-height: 600px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
}

.bill-container {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  color: hsl(186, 14%, 43%);
}

.bill-amount {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  background-color: hsl(189, 41%, 97%);
  border: none;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30px;
}

.input-bill {
  color: hsl(183, 100%, 15%);
}

.select-tip-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.tip-percentage-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.tip-title {
  margin: 0;
}
.tip-percentage {
  border-radius: 5px;
  width: 30%;
  background-color: hsl(183, 100%, 15%);
  color: white;
  padding: 0;
  height: 35px;
  font-weight: bold;
}

.tip-percentage:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.custom:focus {
  outline: none;
  background-color: hsl(189, 41%, 97%);
}

.num-of-people {
  width: 100%;
}

.people-amount {
  color: hsl(183, 100%, 15%);
}

.total-container {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 40px;
  border-radius: 20px;
  background-color: hsl(183, 100%, 15%);
  color: white;
}

.upper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

.total-tip-amount {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.tip-amount-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  justify-self: flex-start;
  margin-left: 10px;
}

.tip-text {
  text-align: left;
  margin: 0;
}

.person-text {
  color: hsl(184, 14%, 56%);
  margin: 0;
  padding: 0;
  text-align: left;
}

.tip-amount-price {
  font-size: 28px;
  color: hsl(172, 67%, 45%);
  font-weight: bold;
}

.reset-btn {
  border: none;
  font-weight: bold;

  margin-top: 100px;
  width: 80%;
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

input:focus {
  outline: none;
}

@media screen and (max-width: 820px) {
  .container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .bill-container {
    margin: 0;
    position: relative;
    margin-top: 10px;
    max-height: 100%;
    max-width: 100%;
  }
  .total-container {
    margin: 0;
    position: relative;
    margin-top: 10px;
    max-height: 100%;
    max-width: 100%;
  }
  .reset-btn {
    margin-bottom: 10px;
  }
}
